.hero-section{
    background-image: url('/public/Images/island1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.headline1{
    color: white;
}
.headline2{
    color: rgb(0, 0, 0);
}
.headline3{
    color: white;
}


