.hero-skills{
    height: 100vh;
    background-image: url('/public/Images/island2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}