.icon{
    color: white;
    font-size: 2rem;
}

.appbarTitle{
    flex-grow: 1;
}

.appbarWrapper{
    width: 80%;
    margin: 0 auto;
}

.colorText{
    color: rgb(234, 255, 46);
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}