.title{
    font-family: 'Nunito';
    font-size: 2rem;
    color: #fff;
}

.description{
    font-family: 'Nunito';
    font-size: 1.1rem;
    color: #ddd;
}

.description a{
    color: white;
    font-family: 'Nunito';
}

@media (max-width: 600px){
    .card{
        width: 50vw;
        height: 50vh;
    }
  }