.title{
    font-family: 'Nunito';
    font-size: 2rem;
    color: #fff;
}

.description{
    font-family: 'Nunito';
    font-size: 1.1rem;
    color: #ddd;
}

.description a{
    color: white;
    font-family: 'Nunito';
}

.media{
    height: 35vh;
    width: 100%;
    object-fit:cover;
}

.card{
    height: 60vh;
    width: auto;
}

.root{
    min-height: 100vh;
}

.stack{
    width: 30px;
    display: flex;
    flex-direction: row;
}
