<<<<<<< HEAD

@media (max-width: 650px){
    .root{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card{
        display: flex;
        flex-direction: column;
        height: 25vh;
        width: 20vw;
        
    }
    .media{
        width: 20vw;
        height: 10vh;
    }
    
}
=======
.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 650px){
    .root{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

>>>>>>> ec47a206d4ec7bbc4aaaed26520df1e74282bbbb
