
@media (max-width: 650px){
    .root{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card{
        display: flex;
        flex-direction: column;
        height: 25vh;
        width: 20vw;
        
    }
    .media{
        width: 20vw;
        height: 10vh;
    }
    
}
