.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 650px){
    .root{
        flex-direction: column;
        margin: 20px 20px;
        flex-wrap: nowrap;
    }
}

