* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 70px;
}


.App{
  min-height: 100vh;
  background-image: url("./Images/island1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}