* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  contain: content;
}


.App{
  min-height: 100vh;
  background-image: url("/public/Images/sea3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
